@import url(//fonts.googleapis.com/css?family=Open+Sans:300,600);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: black;
  background: whitesmoke;
  margin: 0;
}

.catagory {
  margin: 5px;
  padding: 5px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  text-wrap: wrap;
}

.hundred {
  background-color: crimson;
  color: whitesmoke;
}

.number {
  padding: 4px 8px;
  text-align: justify;
}

.ten {
  background-color: darkorange;
  color: black;
}

.one {
  background-color: gold;
  color: black
}

.tenth {
  background-color: limegreen;
  color: black
}

.hundredth {
  background-color: royalblue;
  color: bisque
}

.card {
  border: 1px solid;
  border-radius: 0 0 10px 10px;
  width: 150px;
  height: 130px;
  font-weight: 600;
}
.hundred-border {
  border: 1px solid crimson;
}

.card:hover {
  color: crimson;
}

.content {
  display: inline-block;
}

.daddy {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
