@import url(//fonts.googleapis.com/css?family=Open+Sans:300,600);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: .95em;
  color: black;
  background: whitesmoke;
  margin: 0;
}

a, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

.content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 0 0 10px 10px; 
  height: 150px;
  width: 170px;
  font-weight: 600;
}

.number {
  padding: 4px 8px;
  text-align: right;
}

.catagory {
  margin: 0 1px 0 1px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.mds {
  background-color: indigo;
  color: whitesmoke;
}

.hundred { border: 1px solid crimson; }
.ten { border: 1px solid darkorange; }
.one { border: 1px solid gold; }
.tenth { border: 1px solid limegreen; }
.hundredth { border: 1px solid royalblue; }

.card:hover.hundred, .card.hundred.active, .hundred .number { color: whitesmoke; background-color: crimson;}
.card:hover.ten, .card.ten.active, .ten .number { background-color: darkorange; } 
.card:hover.one, .card.one.active, .one .number { background-color: gold; }
.card:hover.tenth, .card.tenth.active, .tenth .number { background-color: limegreen; }
.card:hover.hundredth, .card.hundredth.active, .hundredth .number { color: whitesmoke; background-color: royalblue; }

.input{
  font-size: 3em;
  margin: 10px;
  max-width: 6ch;
  border-radius: 10px;
  border: none;
  color: indigo;
  padding: 5px;
  outline: 0;
}

.label {
  font-size: 3em;
  font-weight: 300;
  align-self: center;
}

.edit_button {
  background-color: whitesmoke;
  color: indigo;
  font-size: 2em;
  margin: 20px;
  border: none;
  max-width: 6ch;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.edit {
  color: indigo;
  font-size: 1.5em;
  font-weight: 300;
}

.header {
  font-weight: 600;
  font-size: 2em;
  display: flexbox;
}

.edit-form {
  font-size: 1em;
  color: indigo;
  border-radius: 5px;
  border: 1px solid indigo;
  font-weight: 300;
  outline: 0;
}
