{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1>Sorry, we could not find your request.  We will get our librarians right on it!</h1>
  <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
</div>
{% endblock content %}
