{% extends "layout.jinja2" %}

{% block content %}
{% from 'row.jinja2' import new_row %}
<div class="content">
  {% if hundreds %}
    {{ new_row('hundred', hundreds) }}
  {% endif %}
  {% if tens %}
    {{ new_row('ten', tens) }}
  {% endif %}
  {% if ones %}
    {{ new_row('one', ones) }}
  {% endif %}
  {% if tenths %}
    {{ new_row('tenth', tenths) }}
  {% endif %}
  {% if hundredths %}
    {{ new_row('hundredth', hundredths) }}
  {% endif %}
</div>
<div class="content mds">
  <label class="label">MDS Number </label><input class="input" type="text" id="mds_number" maxlength="6">
  <button class="edit_button" id="edit">Edit</button>
</div>
<div class="edit" id="edit_info" style="display: none;">
  <div class="header">
    <div class="row">{{info.mds_name}}</div>
  </div>  
  <label >Addigned Name: </label>
  <input class="edit-form" type="text" id="assigned_name" value="{{info.assigned_name}}">  
  <button class="edit-form" id="save">Save</button><br>
  <label >Book Count: </label><label >{{info.book_count}}</label><br>
  <label >Last Updated: </label><label>{{info.last_updated}}</label><br>
  
</div>
<script>

  // Set Active Cards
  var last;
  for (id of {{ active|tojson|safe }} ) {
    document.getElementById(id).classList.add('active');
    last = id;
  }

  // Setup Enter Keypress for MSD Number input field
  number_elm = document.getElementById('mds_number');
  number_elm.value = last;
  number_elm.focus();
  number_elm.addEventListener("keypress", function(event) {
    
    if (event.key === "Enter" ) {
      var patterns = [/^/, /^\d/, /^\d{2}/, /^\d{3}/, /^\d{3}\./, /^\d{3}\.\d/, /^\d{3}\.\d{2}/];
      pattern = patterns[this.value.length];
      if (this.value.match(pattern)) {
        if (this.value.length == 4) {
          url = this.value.substring(0, this.value.length - 1);
        }
        else {
          url = this.value;
        }
        window.location = url
      }
      else {
        alert('MDS Number is not formatted correctly.  XXX.XX');
      }
    }
  })

  number_elm.addEventListener("input", function(event) {
    elm = document.getElementById('edit').style.display = "none";
  })
  // Setup Edit Button
  edit_btn = document.getElementById('edit');
  edit_btn.addEventListener("click", function(event) {
    event.preventDefault();
    document.getElementById('edit_info').style.display = "block";
    elm = document.getElementById('assigned_name');
    elm.focus();
    elm.select();
  })

  // Setup Save Button
  save_button = document.getElementById('save');
  save_button.addEventListener("click", function(event) {
    event.preventDefault();
    number = document.getElementById('mds_number').value;
    name = document.getElementById('assigned_name').value;
    if (name === "" ){name="null";}
    window.location="/mds/"+number+"/"+name;
  })

  // Save when Enter is pressed
  assigned_name = document.getElementById('assigned_name');
  assigned_name.addEventListener("keypress", function(event){
    if (event.key === "Enter" ) {
      event.preventDefault();
      number = document.getElementById('mds_number').value;
      name = this.value;
      if (name === "" ){name="null";}
      window.location="/mds/"+number+"/"+name;
    }
  })
</script>
{% endblock content %}
