{% extends "layout.jinja2" %}

{% block content %}
<div class="grid">
  {% for hundred in hundreds %}
    <div class="card hundred-border">
      <div class="hundred number">
        {{hundred.mds_number}}
      </div>
      <div class="catagory" id="hundred">
        {{hundred.mds_name}}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
